@{
    ViewBag.Title = "About";
}
<font face="Century Gothic">

    <h1>Pruebas Saber Pro</h1>
    <p>Las pruebas saber pro se dividen en 5 competencias: Lectura crítica, razonamiento cuantitativo,
    competencias ciudadanas, comunicación escrita e inglés)</p>
    <p>Además de los anteriores, hay módulos asociados a temáticas y 
    contenidos específicos que los estudiantes tienen la posibilidad de presentar de acuerdo con su área de formación profesional. </p>

</font>
