
@{
    ViewBag.Title = "InvalidAccount";
}

<h2><font face="Century Gothic">Cuenta inválida </font></h2>
<p><font face="Century Gothic">El dominio de la cuenta ingresada no es válido para el ingreso.</font></p>
 
