
@{
    ViewBag.Title = "Index";
}

<h2><font face="Century Gothic">Bienvenido!</font></font></h2>
<p>Las pruebas estan divididas en 5 competencias. Buenas suerte al realizarlas</p>

<table class="table">
    <tr>
        <th>
            <a class="btn btn-index" href="@Url.Action("Index","Estud")"><span class="glyphicon glyphicon-home"><font face="Century Gothic"> Presentar prueba </font></span></a>
        </th>
        <th>
            <a class="btn btn-index" href="@Url.Action("Index","Estudiante")"><span class="glyphicon glyphicon-home"><font face="Century Gothic"> Ver resultado  </font></span></a>
        </th>
    </tr>
</table>

